/* Basscss Hide */

.hide {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

@media (--breakpoint-xs) {
  .xs-hide { display: none !important }
}

@media (--breakpoint-sm) {
  .sm-hide { display: none !important }
}

@media (--breakpoint-md) {
  .md-hide { display: none !important }
}

@media (--breakpoint-lg) {
  .lg-hide { display: none !important }
}

@media (--breakpoint-xl) {
  .xl-hide { display: none !important }
}

@media (--breakpoint-xxl) {
  .xxl-hide { display: none !important }
}

@media (--breakpoint-sm-md) {
  .sm-md-hide { display: none !important }
}

@media (--breakpoint-md-lg) {
  .md-lg-hide { display: none !important }
}

@media (--breakpoint-lg-xl) {
  .lg-xl-hide { display: none !important }
}

@media (--breakpoint-xl-xxl) {
  .xl-xxl-hide { display: none !important }
}

.display-none { display: none !important }

@custom-media --breakpoint-xs-down (max-width: 36em);
@custom-media --breakpoint-sm (min-width: 36em);
@custom-media --breakpoint-md (min-width: 48em);
@custom-media --breakpoint-lg (min-width: 62em);
@custom-media --breakpoint-xl (min-width: 75em);
@custom-media --breakpoint-xxl (min-width: 100em);

@custom-media --breakpoint-sm-md (min-width: 36em) and (max-width: 48em);
@custom-media --breakpoint-md-lg (min-width: 48em) and (max-width: 62em);
@custom-media --breakpoint-lg-xl (min-width: 62em) and (max-width: 75em);
@custom-media --breakpoint-xl-xxl (min-width: 75em) and (max-width: 100em);
